---
theme:
  name: twitter
layout: page
title: Tags
header: Artigos por Tag
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% for node in pages_list %}
    {% assign author = site.authors[node.author]["name"] %}
    <li>{{ node.date | date: "%d/%m/%Y" }} &raquo;  <a href="{{ BASE_PATH}}{{node.url}}">{{ node.title }}</a>, por {{author}}</li>
    {% endfor %}
  </ul>
{% endfor %}
