<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

{% assign author = site.authors[page.author]["name"] %}

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span> Por {{author}} - {{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

	<hr/>
	
	<strong>Artigos Relacionados</strong>
	<br>
	<ul>
	{% for post in site.related_posts limit:5 %}
		<li><a href="{{ BASE_PATH }}{{ post.url }}">{{post.title}}</a></li>
	{% endfor %}
	</ul>
	
    <div class="pagination" style="text-align: center;">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Artigo anterior</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Próximo artigo</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Arquivo</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Próximo &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Próximo &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>